<IfModule mod_rewrite.c>
     

    RewriteEngine On

   
    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f

    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ index.php [L]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_URI} ^/storage/(.*)$
    RewriteCond %{REQUEST_ROOT}/storage/app/public/%1 -f
    RewriteRule ^storage/(.*)$ storage/app/public/$1 [L]
</IfModule>
